@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
  
    <div class="jumbotron">
       
        @Html.ActionLink(
         linkText: "Details",
         actionName: "Create",
         controllerName: "Item",
         routeValues: new
         {
            
         },
         htmlAttributes: null
     )
    </div>


}
