@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div>
    <table border="1">
        <tr>
            <td>
                Name
            </td>
        </tr>
        <tr>
            <td>
                Address
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
        </tr>
        <tr>
            <td>
                Dob
            </td>
        </tr>
    </table>
</div>